<ul class="breadcrumb">
	        <li><%=link_to "首页", root_path%></li>
		        <li>翻译</li>
			        </ul> 
<center>
<span style="font-size: 16px;"> <%=@passage.title%></span>
</center>
<div class="info">
	由<%=link_to @passage.user.username, user_path(@passage.user.id)%>
	于<%= timeago_tag @passage.created_at, :nojs => true, :limit => 10.days.ago, :lang=>:zh %>
	发起
	<%=link_to "进入讨论", passageComment_path(@passage.id)%>
</div>
<div class="box">
	<p>预览:</p>
<span style="color: blue;">
	<%@passage.sentences.each do |line|%>
	<p><%=line.content%></p>
	<p class="translate_sentence"><%=line.get_best_translations(1).first.content if line.get_best_translations(1)!=[]%></p>
	<%end%>
</span>
</div>
<%@sentences.each do |sentence|%>
<div class="box">

<p class="source_sentence"><%=link_to sentence.content, sentence_path(sentence.id)%></p>
<%unless sentence.get_translators.include? current_user.id%>
<div id="div_on_<%=sentence.id%>">
<p><input class="btn btn-info" type="button" value="我来翻译"
   onClick="document.getElementById('div_off_<%=sentence.id%>').style.display='block';
            document.getElementById('div_on_<%=sentence.id%>').style.display='none'">
    </p>
</div>
<div id="div_off_<%=sentence.id%>" style="display:none">
<p><input class="btn btn-info" type="button" value="收起"
   onClick="document.getElementById('div_off_<%=sentence.id%>').style.display='none';
            document.getElementById('div_on_<%=sentence.id%>').style.display='block'">
        </p>
<p>
<%@translation=Translation.new%>
<%=form_for @translation do |f|%>
<%=f.hidden_field :sentence_id, :value=>sentence.id%>
<%=f.hidden_field :passage_id, :value=>@passage.id%>
<%=f.text_field :content, :class=>"form-control"%>
<%=f.submit "提交",:class=>"btn btn-info"%>
<%end%>
</div>
<%end%>
最佳翻译:
<%sentence.get_best_translations(3).each do |translation|%>
	<div class="alert alert-success">
		<%=translation.content%>
		<%=link_to "赞(#{translation.good_count})",think_good_path(translation.id)%>
		<p class="pull-right">by <%=link_to translation.user.username, user_path(translation.user.id)%></p>
	</div>
<%end%>
<%translation=Translation.where(:sentence_id=>sentence.id,:user_id=>current_user.id).first%>
<%if translation!=nil%>
	我的翻译:
	<div class="alert alert-warning">
		<%=translation.content%>
		<%=link_to "赞(#{translation.good_count})",think_good_path(translation.id)%>
		</div>
<div>
<div id="div_on_trans_<%=translation.id%>">
<p><input class="btn btn-mini" type="button" value="编辑"
   onClick="document.getElementById('div_off_trans_<%=translation.id%>').style.display='block';
            document.getElementById('div_on_trans_<%=translation.id%>').style.display='none'">
        <%=link_to "delete",translation_path(translation.id), :method=>"delete", :class=>"btn btn-danger"%>
    </p>
</div>
<div id="div_off_trans_<%=translation.id%>" style="display:none">
<p><input class="btn btn-mini" type="button" value="收起"
   onClick="document.getElementById('div_off_trans_<%=translation.id%>').style.display='none';
            document.getElementById('div_on_trans_<%=translation.id%>').style.display='block'">
<%=link_to "delete",translation_path(translation.id), :method=>"delete", :class=>"btn btn-danger"%>
        </p>
<p>
<%=form_for translation,  :url => {:action => 'update',:controller=>"translations"} do |f|%>
<%=f.text_field :content, :value=>translation.content, :class=>"form-control"%>
<%=f.hidden_field :id, :value=>translation.id%>
<%=f.submit "确认修改", :class=>"btn btn-info" %>
<%end%>
</div>
</div>
<%end%>
</div>
<%end%>
